/* custom.css */

.reveal .slides {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Justify content to the left */
  width: 100%; /* Ensure content takes full width */
  position: relative; /* Allow for positioning the logo within */
  padding: 20px 150px 120px 20px !important; /* Adjust padding (top/right/bottom/left) */
  margin-top: 30px; /* Increased top margin to accommodate the logo */
  margin-bottom: 20px; /* Adjust bottom margin as needed */
}

/* Background logo styling */
.reveal .slides {
  background-image: url('logo.png'); 
  background-repeat: no-repeat;
  background-position: bottom 100px right 30px; /* Position at bottom right */
  background-size: 250px auto; 
}


/* Slide number styling */
.reveal .slide-number {
  color: #999;
  font-size: 0.8em;
}

/* Header and footer styling */
.reveal-header, .reveal .footer {
  position: fixed;
  width: 100%;
  text-align: center;
  font-size: 0.9em;
  color: #666;
  background: white;
  z-index: 1000;
  padding: 10px 0;
}



/* General styling */
.reveal {
  font-family: 'Arial', sans-serif; /* Consistent font family */
}

/* Heading styling with Arial Black */
.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {  
  text-align: left;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  color: #333; /* Adjusted to darker color for better contrast */
}

/* Specific heading sizes and spacing */
.reveal h1 {
  font-family: 'Arial Black', Arial, sans-serif;
  font-size: 4.5em !important; /* Adjust font size for h1 */
  margin-bottom: 0.5em !important; /* Add spacing */
}

.reveal h2 {
  font-family:  Arial, sans-serif;
  font-size: 3.5em !important; /* Adjust font size for h2 */
  margin-bottom: 0.5em !important; /* Add spacing */
}

.reveal h3 {
  font-family:  Arial, sans-serif;
  font-size: 2.5em !important; /* Font size for h3 */
  margin-bottom: 0.5em !important; /* Add spacing */
}

.reveal h4 {
  font-family:  Arial, sans-serif;
  font-size: 2.0em !important; /* Font size for h4 */
  margin-bottom: 0.5em !important; /* Add spacing */
}

/* Text and caption styling */
.reveal p, .reveal figcaption {
  font-size: 1.5em !important; /* Adjust font size for text and captions */
  margin-bottom: 0.5em !important; /* Add spacing */
}

/* Figure styling */
.reveal .figure {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 10px 0;
}

/* Left align tables and table content */
.reveal .slides table {
  margin-left: 0; /* Remove any default table margins */
  width: auto; /* Allow tables to adjust width to content */
}


/* Tabset styling */
.tabset .nav-link {
  font-size: 2.5em; /* Adjust as needed */
  padding: 10px 15px; /* Adjust padding as needed */
}

.tabset .tab-pane {
  font-size: 2.5em; /* Adjust as needed */
}

.tabset .nav-tabs {
  font-size: 2.5em; /* Adjust as needed */
  padding: 10px 0; /* Adjust as needed */
}

